@model WebAPI.Models.Stuff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stuff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EQPID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EQPID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
