@model IEnumerable<WebAPI.Models.Stuff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EQPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EQPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
